@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.regular {
    font-weight: 400;
}

.semibold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.extrabold {
    font-weight: 800;
}

body {
    background-color: #f5f8ff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}

.m-top {
    margin-top: 100px;
}

.navbar-brand {
    padding: 0 0 0 0;
}

.bg-nav {
    background-color: #D9D9D9;
}

.form-nav {
    border-radius: 30px;
    width: auto;
}

.inp-nav {
    border: white;
    outline: white;
    width: 300px;
}

.icon-src-nav {
    color: black;
}



.box {
    width: 604px;
    height: 173px;
    border: 3px solid rgba(0, 74, 216, 0.50);
    border-radius: 5px;
    align-items: center;
    margin: 15px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.box i {
    font-size: 36px;
}

.count {
    font-size: 16px;
    color: #555;
}

.info {
    flex-grow: 1;
}

.card {
    width: 650px;
    background-color: #fff;
    border: 3px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
  }
  
  .garis {
    width: 100%;
    border-bottom: 1px solid black;
    margin: 20px 0;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .form-group input,
  .form-group textarea,
  .form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-group input[type="file"] {
    cursor: pointer;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .buttons .cancel {
    background-color: #ddd;
    color: #333;
  }

  .buttons .tambah {
    background-color: #4CAF50;
    color: #fff;
  }

  .add {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }