<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}" type="image/x-icon" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script src="{{ url_for('static', filename='myjs.js') }}"></script>

    <title>BookVerse</title>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand bg-nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="/admin">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" height="55" width="200">
            </a>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <form class="d-flex">
                        <div class="form-control me-4 form-nav">
                            <input class="inp-nav" placeholder="Cari Buku" aria-label="Search">
                            <a href="#"><i class="fa fa-search fa-lg icon-src-nav" aria-hidden="true"></i></a>
                        </div>
                    </form>
                    <a class="nav-link active semibold" style="color: black;" aria-current="page" href="/tambah">Input
                        Buku</a>
                    <a class="nav-link semibold" style="color: #D60000;" href="#">Keluar</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container dash">
        <!-- setelah navbar -->
        <h1 class="bold ms-5">Dashboard</h1>
        <div class="row justify-content-evenly">
            <div class="box box-bg1 my-1 mx-2">
                <div class="info">
                    <h3 class="semibold">User</h3>
                    <p class="count regular">133 User</p>
                </div>
                <i class="fa fa-user"></i>
            </div>
            <div class="box box-bg2 my-1 mx-2">
                <div class="info">
                    <h3 class="semibold">Book</h3>
                    <p class="count regular">133 Book</p>
                </div>
                <i class="fa fa-book"></i>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row row-cols-1 row-cols-md-4">
            <div class="col">
                <div class="card card-book">
                    <a href="/detail"><img src="{{ url_for('static', filename='book1.png') }}"
                            class="card-img-top card-book-img" alt="Book"></a>
                    <div class="card-body">
                        <h4 class="regular">Five Nights At Freddy`S Graphic Novel #1: The Silver Eyes</h4>
                        <h5 class="regular py-2" style="color: #004AD8;">RP.200.000</h5>
                        <div class="d-flex justify-content-between">
                            <a href="/edit" class="btn semibold card-admin-btn" style="background-color: #0A868C;">Edit</a>
                            <button class="btn semibold card-admin-btn ms-3" style="background-color: #D60000;"id="delete">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-book">
                    <a href="/detail"><img src="{{ url_for('static', filename='book1.png') }}"
                            class="card-img-top card-book-img" alt="Book"></a>
                    <div class="card-body">
                        <h4 class="regular">Five Nights At Freddy`S Graphic Novel #1: The Silver Eyes</h4>
                        <h5 class="regular py-2" style="color: #004AD8;">RP.200.000</h5>
                        <div class="d-flex justify-content-between">
                            <a href="/edit" class="btn semibold card-admin-btn" style="background-color: #0A868C;">Edit</a>
                            <button class="btn semibold card-admin-btn ms-3" style="background-color: #D60000;"id="delete">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-book">
                    <a href="/detail"><img src="{{ url_for('static', filename='book1.png') }}"
                            class="card-img-top card-book-img" alt="Book"></a>
                    <div class="card-body">
                        <h4 class="regular">Five Nights At Freddy`S Graphic Novel #1: The Silver Eyes</h4>
                        <h5 class="regular py-2" style="color: #004AD8;">RP.200.000</h5>
                        <div class="d-flex justify-content-between">
                            <a href="/edit" class="btn semibold card-admin-btn" style="background-color: #0A868C;">Edit</a>
                            <button class="btn semibold card-admin-btn ms-3" style="background-color: #D60000;"id="delete">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-book">
                    <a href="/detail"><img src="{{ url_for('static', filename='book1.png') }}"
                            class="card-img-top card-book-img" alt="Book"></a>
                    <div class="card-body">
                        <h4 class="regular">Five Nights At Freddy`S Graphic Novel #1: The Silver Eyes</h4>
                        <h5 class="regular py-2" style="color: #004AD8;">RP.200.000</h5>
                        <div class="d-flex justify-content-between">
                            <a href="/edit" class="btn semibold card-admin-btn" style="background-color: #0A868C;">Edit</a>
                            <button class="btn semibold card-admin-btn ms-3" style="background-color: #D60000;"id="delete">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>