<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}" type="image/x-icon" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script src="{{ url_for('static', filename='myjs.js') }}"></script>

    <title>BookVerse - Home</title>
    <script>
        $(document).ready(function () {
            tampil();
        });

        function tampil() {
            $.ajax({
                type: 'GET',
                url: '/buku',
                data: {},
                success: function (response) {
                    let rows = response['daftarbuku'];
                    for (let i = 0; i < rows.length; i++) {
                        let judul = rows[i]['JudulBuku'];
                        let deskripsi = rows[i]['Deskripsi'];
                        let harga = rows[i]['Harga'];
                        let kategori = rows[i]['Kategori'];
                        let bahasa = rows[i]['Bahasa'];
                        let cover = rows[i]['Cover'];

                        console.log(judul)

                        let temp_html = `
                        <div class="col">
                            <div class="card card-book h-100">
                                <a href="/detail"><img src="/static/${cover}"
                                        class="card-img-top card-book-img" alt="Book"></a>
                                <div class="card-body">
                                    <h5 class="semibold">${judul}</h5>
                                    <!-- <h5 class="regular py-2" style="color: #004AD8;">${harga}</h5>
                                    <div class="d-flex justify-content-between">
                                        <a onclick=""><i class="fa fa-heart-o fa-2x" aria-hidden="true"></i></a>
                                        <a href="/detail" class="btn semibold card-body-btn">Detail</a>
                                        <a onclick=""><i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
                                    </div> -->
                                </div>
                                <h5 class="regular py-2" style="color: #004AD8;">${harga}</h5>
                                <div class="d-flex justify-content-between">
                                    <a onclick=""><i class="fa fa-heart-o fa-2x" aria-hidden="true"></i></a>
                                    <a href="/detail" class="btn semibold card-body-btn">Detail</a>
                                    <a onclick=""><i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>`;
                        $('#card-book').append(temp_html);
                    }
                }
            })
        }
    </script>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand bg-nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" height="55" width="200">
            </a>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <form class="d-flex">
                        <div class="form-control me-4 form-nav">
                            <input class="inp-nav" placeholder="Cari Buku" aria-label="Search">
                            <a href="#"><i class="fa fa-search fa-lg icon-src-nav" aria-hidden="true"></i></a>
                        </div>
                    </form>
                </div>
                <!-- <a class="login" style="margin-top: 3px;" href="/login"><img src="{{ url_for('static', filename='login.png') }}" alt="Icon" height="35"></a> -->
                <a href="/login"><i class="fa fa-sign-in fa-3x me-2" style="color: #0A868C;" aria-hidden="true"></i></a>
            </div>
        </div>
    </nav>

    <div class="container dash">
        <div class="row align-items-center justify-content-between row-cols-md-2">
            <div class="col" style="width: 45%;">
                <p class="semibold" style="color: #0A868C;">Hallo, Selamat Datang</p>
                <h1 class="extrabold">Beli Buku Jadi Mudah Dengan BookVerse</h1>
                <p class="regular mt-3">Temukan buku pilihanmu disini</p>
            </div>
            <div class="col" style="width: 45%; text-align: end;">
                <img src="{{ url_for('static', filename='book.png') }}" alt="Gambar">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 my-5" id="card-book">
            <!-- <div class="col">
                <div class="card card-book">
                    <a href="/detail"><img src="{{ url_for('static', filename='book1.png') }}"
                            class="card-img-top card-book-img" alt="Book"></a>
                    <div class="card-body">
                        <p>Five Nights At Freddy`S Graphic Novel #1: The Silver Eyes</p>
                        <h5 class="regular py-2" style="color: #004AD8;">RP.200.000</h5>
                        <div class="d-flex justify-content-between">
                            <a onclick=""><i class="fa fa-heart-o fa-2x" aria-hidden="true"></i></a>
                            <a href="/detail" class="btn semibold card-body-btn">Detail</a>
                            <a onclick=""><i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <a href="/login" class="other-book text-center">
        <h1 class="bold my-5">LOGIN TO OTHER BOOK</h1>
    </a>
</body>

</html>