<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}" type="image/x-icon" />

    <!-- Bootstrap CSS & Jquery -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"
        integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script src="{{ url_for('static', filename='myjs.js') }}"></script>

    <title>BookVerse - Login</title>

    <script>
        $(document).ready(function () {
            role_log();
        });
    </script>

</head>

<body class="bg-login">
    <div class="container">
        <section class="logo-login">
            <a href="/"><img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" height="100" width="380"></a>
        </section>
        <section class="form-login">
            <h2 class="bold">LOGIN</h2>
            <hr>
            <div class="in-group">
                <div class="row me-3 mb-4">
                    <div class="col in-group-col">
                        <label for="inputUsername" class="col-form-label semibold">Username</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="inputUsername" class="form-control">
                    </div>
                </div>
                <div class="row me-3 mb-4">
                    <div class="col in-group-col">
                        <label for="inputPassword" class="col-form-label semibold">Password</label>
                    </div>
                    <div class="col-auto">
                        <input type="password" id="inputPassword" class="form-control"
                            aria-describedby="passwordHelpInline">
                    </div>
                </div>
            </div>
            <button type="button" onclick="sign_in()" class="btn btn-login me-3"><span
                    class="semibold">Login</span></button>
            <a type="button" href="/" class="btn btn-back"><span class="semibold">Kembali</span></a>
        </section>
        <div style="text-align: center;">
            <a href="/registuser" class="link-regis semibold" style="margin-right: 200px;"><i
                    class="fa fa-arrow-left me-2" aria-hidden="true"></i>Register User</a>
            <a href="/admin" class="link-regis semibold">Register Admin<i class="fa fa-arrow-right ms-2"
                    aria-hidden="true"></i></a>
        </div>
    </div>
</body>

</html>