<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}" type="image/x-icon" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script src="{{ url_for('static', filename='myjs.js') }}"></script>

    <title>BookVerse - Registrasi</title>
</head>

<body class="bg-login">
    <div class="container">
        <section class="logo-login">
            <a href="/"><img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" height="100" width="380"></a>
        </section>
        <section class="form-login">
            <h2 class="bold">REGISTER USER</h2>
            <hr>
            <div class="in-group">
                <div class="row me-3 mb-4">
                    <div class="col in-group-col">
                        <label for="inputEmail" class="col-form-label semibold">Email</label>
                    </div>
                    <div class="col-auto">
                        <input type="email" id="inputEmail" class="form-control">
                    </div>
                </div>
                <div class="row me-3 mb-4">
                    <div class="col in-group-col">
                        <label for="inputUsername" class="col-form-label semibold">Username</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="inputUsername" class="form-control">
                    </div>
                </div>
                <div class="row me-3 mb-4">
                    <div class="col in-group-col">
                        <label for="inputPassword6" class="col-form-label semibold">Password</label>
                    </div>
                    <div class="col-auto">
                        <input type="password" id="inputPassword6" class="form-control"
                            aria-describedby="passwordHelpInline">
                    </div>
                </div>
            </div>
            <button type="button" onclick="register()" class="btn btn-login me-3"><span class="semibold">Register</span></button>
            <a type="button" href="/login" class="btn btn-back"><span class="semibold">Kembali</span></a>
        </section>
    </div>
</body>

</html>